{% load static %}
<html>
<head>
    <title>Família Buscapé</title>
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel='stylesheet' href='css/bootstrap.css'>
</head>
		 <style>
		    .footer {
		       position: fixed;
		       left: 0;
		       bottom: 0;
		       width: 100%;
		       height: 1%;
		       background-color: #90EE90;
		       color: white;
		       text-align: center;
		    }
            body {
                background-image: url("{% static 'fundo.jpg' %}");
            }
		</style>
<body>
	<div class="container" style="background-color: #98FB98">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'logo1.jpg' %}">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'logo2.jpg' %}">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'logo3.jpg' %}">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'logo4.jpg' %}">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                    </a>
                </div>
            <div class="col m-2">
                <br>
                <center><p><h3>Bem vindo a <b><i>Produtos Coloniais da Família Buscapé!</i></b></h3></p></center>
            <br>
            </div>
        </div>
            <div class="col-12"> 
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3CB371;">                   
                    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/../">Produtos Coloniais<span class="sr-only">(página atual)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cadastro</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorias
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'category-detail' 1 %}">Frutas</a>
                            <a class="dropdown-item" href="{% url 'category-detail' 2 %}">Legumes</a>
                            <a class="dropdown-item" href="{% url 'category-detail' 3 %}">Queijos</a> 
                            <a class="dropdown-item" href="{% url 'category-detail' 4 %}">Geleias</a>                             
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="{% static 'favoritos.jpg' %}" style="max-height: 30px; max-width: 30px"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="{% static 'carrinho.png' %}" style="max-height: 30px; max-width: 30px;"></a>
                        </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <br>
        <br>

        {% block content %}
        {% endblock %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> 
        <div class="footer">
            <center><p>Entre em contato conosco!</p></center>
            <a href="https://pt-br.facebook.com/" class="btn btn-outline-secondary">Facebook</a>
            <a href="https://www.instagram.com/accounts/login/" class="btn btn-outline-secondary">Instagram</a>
            <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="btn btn-outline-secondary">Gmail</a>
        </div>
            <br>
            <br>
            <br>
            <br>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
