{% extends "stock/base.html" %}

{% block content %}

        <h5 class="card-title">{{ object.name }}</h5>
    <div class="row">
        {% for product in object.products.all %}
            {% include "stock/product_card.html" %}       
        {% endfor %}
    </div>

{% endblock %} 