{% extends "stock/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <center><p>Olá!! Eu sou uma integrante da família buscapé <br>
                e ajudo os meus pais a venderem os produtos que eles produzem.<br>
                Fazemos entregas por todo o estado do Rio Grande do Sul. <br>
                Sinta-se a vontade para olhar e desfrutar dos nosso produtos.</p></center>
            <center><p>Gostou dos produtos? Quer levar para casa? <br> Então faça o seu cadastro!</p></center>
            <center><p>Já está cadastrado? Então divirta-se, após fazer o login, é claro!</p></center>
        </div>
    <div class="row">
    {% for product in object_list %}
        {% include "stock/product_card.html" %}
    {% endfor %}
    <br>
    <br>
    <div class="col-11">
        <center><h4 class="text-danger">Deixe seu comentário:</h4></center>
        <br>
        {% for comment in object.comments.all %}
            <div class="alert alert-danger" role="alert">
                <img src="{% static 'usuario.png' %}" style="max-height: 30px; max-width: 30px;">
                Postado por {{ comment.author }} às {{ comment.created_at }}
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %} 
        <form method="POST" action="{% url 'comment' object.id %}">
            {% csrf_token %}
            <textarea name="text"></textarea>
            <input type="submit" value="Comentar">
        </form>
    </div>
    {% endblock %} 


