<center><div class="col-4">
    <div class="card border-secondary"  style="width: 20rem;">
        <div class="card-body text-center">
            <h5 class="card-title">{{ product.name }}</h5>
            <h6>
                {{ product.name }} - {{ product.quantity }} em estoque                    
                <img src="{{ product.image.url }}" style="max-height: 200px; max-width: 200px;">
                <center><form method="POST" action="{% url 'add-stock' product.id %}">
                    {% csrf_token %}
                    <input type="number" name="quantity" min="1">
                    <input type="submit" value="Adicionar ao Estoque">
                </form></center>
                <center><form method="POST" action="{% url 'remove-stock' product.id %}" style="max-height: 200px; max-width: 200px;">
                    {% csrf_token %}
                    <input type="number" name="quantity" min="0">
                    <input type="submit" value="Remover do Estoque">
                </form></center>
            </h6>
            <a href="{% url 'product-detail' product.pk %}" class="btn btn-outline-secondary">Leia Mais</a>
        </div>
    </div>
</div></center>
