{% extends "stock/base.html" %}
{% load static %}
{% block content %}
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-body text-center">
                <h5 class="card-title">{{ object.name }}</h5>
                <br>
            <div class="row">
                <div class= "col">
                    <p>{{ object.description|safe }}</p>
                    <img src="{{ object.image.url }}" class="img-fluid" style="max-height: 500px; max-width: 500px;">
                    <br>
                    <br>
                    <a href="#" class="btn btn-outline-secondary">Comprar</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %} 


    