{% extends "stock/base.html" %}

{% block content %}

    <p>Estes são os resultados da sua pesquisa:</p>
    <br>

    <div class="row">
        {% for product in object_list %}
            {% include "stock/product_card.html" %}
        {% endfor %}
    </div>

{% endblock %}